.navbar-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-content: center;
  align-self: center;
  margin-right: 0;
}

.navbar {
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 10px;
}

.navbar-header {
  display: flex;
  float: none;
}

.navbar-brand {
  display: flex;
}
