<nav class="navbar navbar-default navbar-expand-lg navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand ">EasyParking</a>
      <a
        style="cursor: pointer; "
        class="navbar-right col-xs-offset-10 col-sm-offset-10 "
        role="button"
        (click)="onLoadAccount()"
        ><img
          src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Creative-Tail-Animal-cat.svg"
          style="max-height: 25px; max-width: 25px ; display: inline; margin-right: 3px ;"
        />Account
      </a>
    </div>
  </div>
</nav>
