.navbar-left {
  font-size: 35px;
}

.containter-fluid {
  margin-top: 5px;
}

.displayflex {
  display: flex;
}

.ul {
  list-style-type: none;
}

.dropdown-new {
  justify-content: flex-end;
}

.dropdown-menu {
  flex-direction: column;
  left: 150px;
  top: 41px;
  min-width: 110px;
}

.navbar {
  background-image: linear-gradient(to right, #dab7da 48%, #fff2ff 100%);
}

.containter {
  background-image: linear-gradient(to right, #dab7da 48%, #fff2ff 100%);
}

.navbar-fixed-top {
  position: relative;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-toggle {
  border-color: black;
  background-color: rgba(163, 142, 162, 0.486);
}

.navbar-default {
  border: 0;
  background-color: inherit;
}
