<nav class="navbar navbar-default navbar-fixed-top">
  <div class="containter-fluid">
    <div class="navbar-left col-xs-4 col-sm-4">
      <i
        class="fa fa-long-arrow-left "
        aria-hidden="true"
        (click)="onBackToSearch()"
        style="cursor: pointer;"
      ></i>
    </div>

    <div class="navar-right col-sm-8 col-xs-8 ">
      <ul class="ul">
        <li class="dropdown" appDropdown>
          <button type="button" class="navbar-toggle dropdown-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="">Edit Profile</a></li>
            <li>
              <a style="cursor: pointer;" (click)="onLogin()">Sign Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
