#Title {
  color: cadetblue;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  font-weight: bold;
  border: none;
}

#allOfIt {
  padding-top: 80px;
  border: none;
  background-color: #ebedee;
  height: 100%;
}

#GetStartedButton {
  margin-top: 50px;
}

.btn {
  background-image: linear-gradient(
    to right,
    #304f50 3%,
    #5f9ea0 51%,
    #b0d3d3 100%
  );
  border-radius: 15px;
  border-color: #122d2e;
  font-size: 17px;
  border: thin;
}
