<div class="row justify-content-center align-middle pt-5" id="allOfIt">
  <div class="col-sm-12 col-md-12 col-xs-12 text-center align-self-center pt-5">
    <p id="Title">Easy</p>
    <p id="Title">Parking</p>
    <div id="carPhoto" class="align-middle align-self-center">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Araco9.gif"
        alt="Car"
        style="max-height: 200px; max-width: 200px; padding: 5px 5px 5px 5px; border: none;"
      />
    </div>

    <div id="GetStartedButton">
      <button type="button" class="btn btn-info" (click)="onLoadLogin()">
        Get Started
      </button>
    </div>
  </div>
</div>
