.active-pink-4 input[type="text"]:focus:not([readonly]),
.active-pink-4 input[type="text"]:visited {
  border: 1px solid #f5135e;
  box-shadow: 0 0 0 1px #f5135e;
}
.active-pink-3 input[type="text"] {
  border: 1px solid #f48fb146;
  box-shadow: 0 0 0 1px #f48fb146;
}

.searchLocationAlign {
  display: flex;
}

.margintillSearch {
  margin-right: 7px;
}

.searchbar {
  margin-top: 30px;
  border-radius: 20%;
}

agm-map {
  height: 450px;
}

.alignContent {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 5% 5%;
  justify-self: center;
}
.mapModal ::ng-deep .modal {
  min-height: 50%;
}
.mapModal ::ng-deep .modal-content {
  height: 650px;
  overflow-y: scroll;
}

.mapModal ::ng-deep .modal-header {
  position: -webkit-sticky;
  z-index: 10;
  display: flex;
}

.mapModal ::ng-deep .modal-body {
  padding: 0;
  z-index: 5;
}

.mapModal ::ng-deep .close {
  color: red;
}

.parkingtitle {
  flex: 1;
  font-size: 25px;
  color: cadetblue;
  margin-top: 5px;
  margin-bottom: 5px;
}

.details {
  padding: 12px 12px 12px 12px;
  border-top: 1px solid slategray;
  border-bottom: 1px solid slategray;
}
