<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" id="allofIt">
    <form>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-9 form-group ">
          <label for="firstName">First Name</label
          ><i class="fa fa-asterisk" aria-hidden="true"></i>
          <input
            type="text"
            id="firstName"
            class="form-control inputmarginbottom"
          />
          <label for="lastName">Last Name</label
          ><i class="fa fa-asterisk" aria-hidden="true"></i>
          <input
            type="text"
            id="lastName"
            class="form-control inputmarginbottom"
          />
          <label for="emailRegister">Email</label
          ><i class="fa fa-asterisk" aria-hidden="true"></i>
          <input
            type="email"
            id="emailRegister"
            class="form-control inputmarginbottom"
          />
          <div>
            <label for="phone">Phone Number</label
            ><i class="fa fa-asterisk" aria-hidden="true"></i>
            <span class="validity"></span>
            <input
              type="tel"
              id="phone"
              class="form-control inputmarginbottom"
              required
              pattern="07[0-9]{2} [0-9]{3} [0-9]{4}"
              maxlength="10"
            />
          </div>
          <label for="carNumber" title="Format : e.g. TM-12-NMR"
            >Car Number</label
          ><i class="fa fa-asterisk" aria-hidden="true"></i>
          <input
            type="text"
            id="email"
            class="form-control inputmarginbottom"
            title="Format : e.g. TM-12-NMR"
          />
          <label for="password">Password</label
          ><i class="fa fa-asterisk" aria-hidden="true"></i>
          <input
            type="password"
            id="password"
            class="form-control inputmarginbottom"
          />
          <label for="confirmPassword">Confirm Password</label
          ><i class="fa fa-asterisk" aria-hidden="true"></i>
          <input
            type="password"
            id="confirmPassword"
            class="form-control inputmarginbottom"
          />
          <div id="registerButton">
            <button class="btn btn-success" (click)="onRegistered()">
              Register
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
